[submodule "src/micro-ROS-Agent"]
	path = src/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
[submodule "src/micro_ros_msgs"]
	path = src/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs.git
[submodule "src/slider_publisher"]
	path = src/slider_publisher
	url = https://github.com/oKermorgant/slider_publisher.git
	branch = ros2
[submodule "src/arena_perception/scripts/fisheye-undistort"]
	path = src/arena_perception/scripts/fisheye-undistort
	url = https://github.com/eubotx/fisheye-camera-undistortion.git
[submodule "src/arena_perception/scripts/apriltags/apriltag-imgs"]
	path = src/arena_perception/scripts/apriltags/apriltag-imgs
	url = https://github.com/AprilRobotics/apriltag-imgs
