<?xml version="1.0"?>
<model>
  <name>Arena Pinhole Camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>eubotx</name>
    <email>eubotx@mailbox.org</email>
  </author>
  <description>
    Top-down pinhole camera with 170° diagonal FOV (ultra-wide but undistorted)
  </description>
</model>