<?xml version="1.0"?>
<model>
  <name>arena_apriltag</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>eubotx</name>
    <email>eubotx@mailbox.org</email>
  </author>

  <description>
    An AprilTag for the Robofetz arena use in extrinsic camera calibration.
  </description>

  <dependencies>
    <gazebo version_gte="8.0.0"/>
  </dependencies>
</model>
