<?xml version="1.0"?>
<model>
  <name>Arena Ball</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>eubotx</name>
    <email>eubotx@mailbox.org</email>
  </author>
  <description>
    Ball for the arena to test opponent detection stability
  </description>
</model>