<?xml version="1.0"?>
<model>
  <name>Arena Wide Angle Camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>eubotx</name>
    <email>eubotx@mailbox.org</email>
  </author>
  <description>
    Top-down wide-angle camera with 170° FOV for arena monitoring
  </description>
</model>